#container{
    height: 100%;
    width: 54%;
    background:url("https://i.pinimg.com/originals/cf/43/08/cf430887e595326299b5fdf85a75b107.jpg"), #000;
    background-size: auto;
    display: inline-block;
    vertical-align:top;
    margin: 0;
    padding-left: 2%;
    position: absolute;
    overflow: hidden;
}
.cell0,
.cell1,
.cell2,
.cell3,
.cell4,
.cell5
{
    display: inline-flex;
    flex-flow: column;
    height: 80%;
    width: 16%;
    border-style: dotted;
    border-color: orangered;
    box-sizing: border-box;
    position: relative;
}
.chip {
    height: 14%;
    width: 100%;
    margin: 2% 0 0 1%;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
}
.col{
    padding-top: 2%;
    height: 83%;
    width: 13%;
    border-radius: 2%;
    display: inline-block;
}
body{
    height: 100vh;
    width: 100vw;
    margin:0;
    background: #000;
}
#mainContainer{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
#stats{
    width: 20%;
    height: 100%;
    display: inline-block;
    font-family: VT323, monospace;
    color: white;
    background-color: black;
}
.chipRow{
    /*padding-left:2%;*/
    height: 13%;
    width: 100%;
    display: inline-flex;
    flex-flow: column-reverse;
    /*#background-color: lightblue;*/
    /*opacity: 1;*/
    /*display: inline-block;*/
}
.player1{
    background-color: blue;
}
.player2{
    background-color: red;
}