#container{
    height: 100%;
    width: 54%;
    background:url("images/gameBoard.jpg"), #000;
    background-size: cover;
    display: inline-block;
    vertical-align:top;
    margin: 0;
    padding-left: 1%;
    position: absolute;
    overflow: hidden;
}

.cell0,
.cell1,
.cell2,
.cell3,
.cell4,
.cell5,
.cell6{
     display: inline-flex;
     flex-flow: column;
     height: 80%;
     width: 14%;
     border-style: dotted;
     border-color: orangered;
     border-top-color: black;
     box-sizing: border-box;
     position: relative;
     cursor: pointer;
 }

.cell0:hover,
.cell1:hover,
.cell2:hover,
.cell3:hover,
.cell4:hover,
.cell5:hover,
.cell6:hover
{
    box-shadow: 0 0 10px lightgoldenrodyellow;
}

.chip {
    height: 16%;
    width: 100%;
    margin: 5% 0 0 1%;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
}

.col{
    padding-top: 2%;
    height: 83%;
    width: 13%;
    border-radius: 2%;
    display: inline-block;
}

body{
    height: 100vh;
    width: 100vw;
    margin:0;
    background: #000;
    overflow: hidden;
    user-select: none;

}

#mainContainer{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
.stats{
    /*display: flex;*/
   flex-direction: column;
    width: 20%;
    height: 100%;
    display: inline-block;
    font-family: VT323, monospace;
    color: white;
    background-color: black;
    text-align: center;

}

.chipRow{
    height: 13%;
    width: 100%;
    display: inline-flex;
    flex-flow: column-reverse;
}

.playerchoice1{
    padding: 0;
    height: 35%;
    width: 23%;
    background-size:contain;
    margin-left:5%;
    cursor: pointer;
}

.playerchoice2,
.playerchoice3,
.playerchoice4{
    padding: 0;
    height: 35%;
    width: 23%;
    background-size:contain;
    cursor: pointer;
}


#miss {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 1% 0 0 1%;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

#mister {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 1% 0 0 1%;

}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }

}

#intro {
    #display: block;
    #vertical-align: top;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("images/intropmanghosts.gif"), no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width:100vw;
    height: 100vh;
    background-color: #060F38;
    overflow: hidden;
}

#intropic{
    position: fixed;
    right: 60%;
    bottom: 80%;
}

#intro-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro-button>#play {
    z-index: 1000;
    font-size: 75px;
    font-family: VT323, monospace;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: rgba(255,255,255,1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(73,61,61,1) , 0 0 40px #000000 , 0 0 70px #2d242c , 0 0 80px #050404 , 0 0 100px #070707 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    background: transparent;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

#intro-button>#play:hover {
    cursor:pointer;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#title {
    bottom: 10%;
    left: 30%;
    z-index: 1000;
    font-size: 150px;
    text-align: center;
    font-family: VT323, monospace;
    /*display: inline-block;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: yellow;
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,0,0.3) , 0 0 20px rgba(255,255,0,0.3) , 0 0 30px rgba(255,255,0,0.3), 0 0 40px #000000 , 0 0 70px #2d242c , 0 0 80px #050404 , 0 0 100px rgba(255,255,0,0.3);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    background: transparent;
}


#intro-button>#play:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #04010f, 0 0 70px #000000, 0 0 80px #032296, 0 0 100px #51adad;
}

#you-won {
    position: fixed;
    bottom: 15%;
    z-index: 1000;
    font-size: 7rem;
    text-align: center;
    font-family: VT323, monospace;
    display:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: yellow;
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,0,0.3) , 0 0 20px rgba(255,255,0,0.3) , 0 0 30px rgba(255,255,0,0.3), 0 0 40px #000000 , 0 0 70px #2d242c , 0 0 80px #050404 , 0 0 100px rgba(255,255,0,0.3);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    background: transparent;
}




.playerColor {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #04010f, 0 0 70px #000000, 0 0 80px #032296, 0 0 100px #51adad;
}

.playerColor2 {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #04010f, 0 0 70px #000000, 0 0 80px #032296, 0 0 100px #51adad;
}

#reset{
    background-color: transparent;
    color: white;
    outline: 0;
    font-size: 2.2rem;
    border: none;
    font-family: VT323, monospace;
}

button:hover {
    cursor:pointer;
}

#my_audio{
    display:none;
}

/*choose players*/
#choose {
    color: white;
    font-size: 4rem;
    font-family: 'VT323', monospace;
    text-align: center;
}


#character{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top:3%;
}

#players {
    display: flex;
    height: 85%;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5%;
}

#pacmanrunning{
    display: flex;
    align-items: center;
    justify-content: center;
}

#players img:hover {
    box-shadow: 0 0 10px lightgoldenrodyellow;
}

#players img{
    height: 200px;
    width: 200px;
}

.player0,
.pacman {
    background:url("images/Original_PacMan.png");
    position: absolute;
    padding: 0;
    height: 16%;
    width:100%;
    background-size:contain;
    /*margin: 2% 0 0 1%;*/
    background-repeat: no-repeat;
    margin: auto;
}

.player1,
.mrsPacman {
    background: url("images/mrsPacman.png");
    position: absolute;
    padding: 0;
    height: 16%;
    width:100%;
    background-size:contain;
    /*margin: 2% 0 0 1%;*/
    background-repeat: no-repeat;
    margin: auto;
}

.ghost {
    background-image: url('images/Redghost.png');
    position: absolute;
    padding: 0;
    height: 16%;
    width:100%;
    background-size:contain;
    /*margin: 2% 0 0 1%;*/
    background-repeat: no-repeat;
    margin: auto;
}

.peach{
    background-image: url('images/Peach.png');
    position: absolute;
    padding: 0;
    height: 16%;
    width:100%;
    background-size:contain;
    /*margin: 2% 0 0 1%;*/
    background-repeat: no-repeat;
    margin: auto;
}

.strawberry{
    background-image: url('images/strawberry.png');
    position: absolute;
    padding: 0;
    height: 16%;
    width:100%;
    background-size:contain;
    /*margin: 2% 0 0 1%;*/
    background-repeat: no-repeat;
    margin: auto;
}